<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CreateRoomBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{325,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,388}}</string>
                <key>sourceSize</key>
                <string>{325,388}</string>
            </dict>
            <key>EnterRoomBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{325,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,388}}</string>
                <key>sourceSize</key>
                <string>{325,388}</string>
            </dict>
            <key>Hall_Change.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,449},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>Hall_CreLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,135},{211,595}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,595}}</string>
                <key>sourceSize</key>
                <string>{211,595}</string>
            </dict>
            <key>Hall_Help.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,449},{28,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{28,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>Hall_JoinLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{491,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,1}}</string>
                <key>sourceSize</key>
                <string>{491,1}</string>
            </dict>
            <key>Hall_JoinLine2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{1,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,310}}</string>
                <key>sourceSize</key>
                <string>{1,310}</string>
            </dict>
            <key>Hall_Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{639,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,1}}</string>
                <key>sourceSize</key>
                <string>{639,1}</string>
            </dict>
            <key>Hall_ListBk.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,392},{180,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,77}}</string>
                <key>sourceSize</key>
                <string>{180,77}</string>
            </dict>
            <key>Hall_NumBl.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,392},{163,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,77}}</string>
                <key>sourceSize</key>
                <string>{163,77}</string>
            </dict>
            <key>Hall_Record.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,449},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{36,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>Hall_Select.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,427},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>Hall_Select2.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,449},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>Hall_Setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,449},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{38,36}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>Hall_Share.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,449},{38,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{38,38}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>Hall_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,392},{240,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,55}}</string>
                <key>sourceSize</key>
                <string>{240,55}</string>
            </dict>
            <key>Hall_Toggle2Bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,392},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>Hall_ToggleBk.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,449},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>Hall_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,2},{1280,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,131}}</string>
                <key>sourceSize</key>
                <string>{1280,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hall.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24067a7c042e32ff426eda1d33646338$</string>
            <key>textureFileName</key>
            <string>Hall.png</string>
        </dict>
    </dict>
</plist>
