<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bsfg2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{710,1}</string>
                <key>spriteSourceSize</key>
                <string>{710,1}</string>
                <key>textureRect</key>
                <string>{{0,70},{710,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bskts@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,46}</string>
                <key>spriteSourceSize</key>
                <string>{274,46}</string>
                <key>textureRect</key>
                <string>{{701,0},{274,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bslebf@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,70}</string>
                <key>spriteSourceSize</key>
                <string>{184,70}</string>
                <key>textureRect</key>
                <string>{{321,0},{184,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bslebs@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,70}</string>
                <key>spriteSourceSize</key>
                <string>{196,70}</string>
                <key>textureRect</key>
                <string>{{505,0},{196,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bstbg@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{804,54}</string>
                <key>spriteSourceSize</key>
                <string>{804,54}</string>
                <key>textureRect</key>
                <string>{{0,71},{804,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bstfg@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,24}</string>
                <key>spriteSourceSize</key>
                <string>{1,24}</string>
                <key>textureRect</key>
                <string>{{0,0},{1,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bstle@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,54}</string>
                <key>spriteSourceSize</key>
                <string>{160,54}</string>
                <key>textureRect</key>
                <string>{{1,0},{160,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bstmi@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,54}</string>
                <key>spriteSourceSize</key>
                <string>{160,54}</string>
                <key>textureRect</key>
                <string>{{161,0},{160,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hallexchange.png</string>
            <key>size</key>
            <string>{975,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09602fcc6eb936a810e093d53929259a:a3180f49be29b42dfac84caa26296c11:ec1bdec2217ff45ac516da45aff308cd$</string>
            <key>textureFileName</key>
            <string>hallexchange.png</string>
        </dict>
    </dict>
</plist>
