<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>js-bg@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1116,701}</string>
                <key>spriteSourceSize</key>
                <string>{1116,701}</string>
                <key>textureRect</key>
                <string>{{1,1},{1116,701}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-bgfg@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1001,1}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1}</string>
                <key>textureRect</key>
                <string>{{1,704},{1001,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-fga@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{1069,803},{38,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>js-fhu@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,35}</string>
                <key>spriteSourceSize</key>
                <string>{32,35}</string>
                <key>textureRect</key>
                <string>{{70,772},{32,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-mibj@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1003,397}</string>
                <key>spriteSourceSize</key>
                <string>{1003,397}</string>
                <key>textureRect</key>
                <string>{{1119,1},{1003,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>js-mibm@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,21}</string>
                <key>spriteSourceSize</key>
                <string>{41,21}</string>
                <key>textureRect</key>
                <string>{{1069,760},{41,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>js-midp@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,32}</string>
                <key>spriteSourceSize</key>
                <string>{54,32}</string>
                <key>textureRect</key>
                <string>{{1069,704},{54,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>js-mifs@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{1,841},{27,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>js-miying@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{70,809},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-mizhu@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1,772},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-mjbl@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,85}</string>
                <key>spriteSourceSize</key>
                <string>{58,85}</string>
                <key>textureRect</key>
                <string>{{125,758},{58,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>js-mjye@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,86}</string>
                <key>spriteSourceSize</key>
                <string>{58,86}</string>
                <key>textureRect</key>
                <string>{{489,707},{58,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>js-mygskh@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,63}</string>
                <key>spriteSourceSize</key>
                <string>{122,63}</string>
                <key>textureRect</key>
                <string>{{1004,704},{122,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>js-myhdl@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,49}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{125,707},{89,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-myjh@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,49}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{216,707},{89,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-myph@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,49}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{307,707},{89,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-myqys@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,49}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{398,707},{89,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-mysjbm@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,63}</string>
                <key>spriteSourceSize</key>
                <string>{122,63}</string>
                <key>textureRect</key>
                <string>{{1,707},{122,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameOverAl.png</string>
            <key>size</key>
            <string>{1517,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:875745fa6a270aee8053b9d2e7ae2ea3:b0a9991c7f4c260bb0b426b4b59352fe:3094af51a7182ec28cbc9220c84ff33c$</string>
            <key>textureFileName</key>
            <string>gameOverAl.png</string>
        </dict>
    </dict>
</plist>
