<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Game_BtnBk.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,86},{123,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,540}}</string>
                <key>sourceSize</key>
                <string>{123,540}</string>
            </dict>
            <key>Game_Change.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,680},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>Game_Help.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,616},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>Game_KuoZhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,552},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>Game_Return.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,488},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>Game_Setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,424},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>Game_Timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,136}}</string>
                <key>sourceSize</key>
                <string>{218,136}</string>
            </dict>
            <key>Game_TimerBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{198,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,52}}</string>
                <key>sourceSize</key>
                <string>{198,52}</string>
            </dict>
            <key>Game_TimerLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,86},{68,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,115}}</string>
                <key>sourceSize</key>
                <string>{68,115}</string>
            </dict>
            <key>Game_TimerRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,114},{67,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,114}}</string>
                <key>sourceSize</key>
                <string>{67,114}</string>
            </dict>
            <key>Game_TimerUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,56},{174,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,28}}</string>
                <key>sourceSize</key>
                <string>{174,28}</string>
            </dict>
            <key>Game_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,203},{588,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,64}}</string>
                <key>sourceSize</key>
                <string>{588,64}</string>
            </dict>
            <key>Game_infoBk.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{83,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,110}}</string>
                <key>sourceSize</key>
                <string>{83,110}</string>
            </dict>
            <key>Gmae_Audio.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,360},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>bp@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,296},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>bpdx-01@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,230},{64,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>bpp@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,347},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>qt@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,296},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>tingSign.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,230},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameScene.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b23e8b617adc645b13d01f2376087f22$</string>
            <key>textureFileName</key>
            <string>GameScene.png</string>
        </dict>
    </dict>
</plist>
