<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>js-bg@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1116,701}</string>
                <key>spriteSourceSize</key>
                <string>{1116,701}</string>
                <key>textureRect</key>
                <string>{{0,0},{1116,701}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-bgbl@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1083,679}</string>
                <key>spriteSourceSize</key>
                <string>{1083,679}</string>
                <key>textureRect</key>
                <string>{{0,701},{1083,679}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-bgfg@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1001,1}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1}</string>
                <key>textureRect</key>
                <string>{{0,1380},{1001,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-fga@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{1001,1380},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-fhu@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,35}</string>
                <key>spriteSourceSize</key>
                <string>{32,35}</string>
                <key>textureRect</key>
                <string>{{1039,1380},{32,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-mibj@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1003,397}</string>
                <key>spriteSourceSize</key>
                <string>{1003,397}</string>
                <key>textureRect</key>
                <string>{{0,1415},{1003,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-mibm@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,21}</string>
                <key>spriteSourceSize</key>
                <string>{41,21}</string>
                <key>textureRect</key>
                <string>{{1003,1415},{41,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-midp@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,32}</string>
                <key>spriteSourceSize</key>
                <string>{54,32}</string>
                <key>textureRect</key>
                <string>{{1044,1415},{54,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-mifs@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{1098,1415},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-miying@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1125,1415},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-mizhu@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1157,1415},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-mjbl@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,85}</string>
                <key>spriteSourceSize</key>
                <string>{58,85}</string>
                <key>textureRect</key>
                <string>{{1224,1415},{58,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-mjye@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,86}</string>
                <key>spriteSourceSize</key>
                <string>{58,86}</string>
                <key>textureRect</key>
                <string>{{1282,1415},{58,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-mygskh@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,63}</string>
                <key>spriteSourceSize</key>
                <string>{122,63}</string>
                <key>textureRect</key>
                <string>{{1340,1415},{122,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-myhdl@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,49}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{1462,1415},{89,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-myjh@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,49}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{1551,1415},{89,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-myph@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,49}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{1640,1415},{89,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-myqys@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,49}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{1729,1415},{89,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js-mysjbm@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,63}</string>
                <key>spriteSourceSize</key>
                <string>{122,63}</string>
                <key>textureRect</key>
                <string>{{1818,1415},{122,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zong@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{1940,1415},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuang@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1970,1415},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameOverAl.png</string>
            <key>size</key>
            <string>{2002,1812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea6e6bd14d2bd7f3c3517e70ffd921cf:aa9bdd323adda4f50a2cb6f27927ba0f:3094af51a7182ec28cbc9220c84ff33c$</string>
            <key>textureFileName</key>
            <string>gameOverAl.png</string>
        </dict>
    </dict>
</plist>
