<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{301,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,139}}</string>
                <key>sourceSize</key>
                <string>{301,139}</string>
            </dict>
            <key>gangshanghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{392,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,150}}</string>
                <key>sourceSize</key>
                <string>{392,150}</string>
            </dict>
            <key>huangju.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{245,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,138}}</string>
                <key>sourceSize</key>
                <string>{245,138}</string>
            </dict>
            <key>loubao.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,154},{299,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,139}}</string>
                <key>sourceSize</key>
                <string>{299,139}</string>
            </dict>
            <key>pinghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,455},{230,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,133}}</string>
                <key>sourceSize</key>
                <string>{230,133}</string>
            </dict>
            <key>sihui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{300,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,135}}</string>
                <key>sourceSize</key>
                <string>{300,135}</string>
            </dict>
            <key>zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{213,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,133}}</string>
                <key>sourceSize</key>
                <string>{213,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hutype.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b864979266f5e8dfe966d36298455460$</string>
            <key>textureFileName</key>
            <string>hutype.png</string>
        </dict>
    </dict>
</plist>
