<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>doc1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{3,3}</string>
                <key>textureRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doc2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,3}</string>
                <key>spriteSourceSize</key>
                <string>{10,3}</string>
                <key>textureRect</key>
                <string>{{3,0},{10,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doc3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,3}</string>
                <key>spriteSourceSize</key>
                <string>{16,3}</string>
                <key>textureRect</key>
                <string>{{13,0},{16,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanx@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,69}</string>
                <key>textureRect</key>
                <string>{{29,0},{68,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>offline.png</string>
            <key>size</key>
            <string>{97,69}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79ffa5c37ddcb4895d3211bd204b470c:818dbb870a016f187dd240f2688870f8:b55e1282f8da23e2faa34028f772c871$</string>
            <key>textureFileName</key>
            <string>offline.png</string>
        </dict>
    </dict>
</plist>
