<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fjsz0@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,222},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,34}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>fjsz1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,222},{9,30}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{9,30}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>fjsz2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,75},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,34}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>fjsz3@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,82},{21,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>fjsz4@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>fjsz5@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,75},{21,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>fjsz6@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,75},{21,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>fjsz7@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,48},{19,32}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>fjsz8@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,75},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,34}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>fjsz9@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,34}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>room-left@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{61,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,108}}</string>
                <key>sourceSize</key>
                <string>{61,108}</string>
            </dict>
            <key>room-right@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{63,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,108}}</string>
                <key>sourceSize</key>
                <string>{63,108}</string>
            </dict>
            <key>room-top@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{163,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,25}}</string>
                <key>sourceSize</key>
                <string>{163,25}</string>
            </dict>
            <key>room-up@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,44}}</string>
                <key>sourceSize</key>
                <string>{185,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>timer.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:728275647eb3e96dc2240478bdf8c7a6$</string>
            <key>textureFileName</key>
            <string>timer.png</string>
        </dict>
    </dict>
</plist>
