<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_btn_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,456},{224,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,225}}</string>
                <key>sourceSize</key>
                <string>{224,225}</string>
            </dict>
            <key>img_btn_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,682},{224,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,224}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>img_btn_guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,829},{136,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,145}}</string>
                <key>sourceSize</key>
                <string>{136,145}</string>
            </dict>
            <key>img_btn_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,456},{226,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,225}}</string>
                <key>sourceSize</key>
                <string>{226,225}</string>
            </dict>
            <key>img_btn_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,456},{224,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,225}}</string>
                <key>sourceSize</key>
                <string>{224,225}</string>
            </dict>
            <key>img_btn_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,684},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>img_cancel_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,682},{136,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,145}}</string>
                <key>sourceSize</key>
                <string>{136,145}</string>
            </dict>
            <key>label_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,908},{134,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,132}}</string>
                <key>sourceSize</key>
                <string>{134,132}</string>
            </dict>
            <key>lable_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,682},{156,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,145}}</string>
                <key>sourceSize</key>
                <string>{156,145}</string>
            </dict>
            <key>lable_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,913},{126,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,152}}</string>
                <key>sourceSize</key>
                <string>{126,152}</string>
            </dict>
            <key>lable_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,908},{142,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,134}}</string>
                <key>sourceSize</key>
                <string>{142,134}</string>
            </dict>
            <key>lable_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,840},{139,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,160}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>ylg_fzmajiang_btn_ljd.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,229},{226,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,225}}</string>
                <key>sourceSize</key>
                <string>{226,225}</string>
            </dict>
            <key>ylg_fzmajiang_btn_qj.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,229},{226,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,225}}</string>
                <key>sourceSize</key>
                <string>{226,225}</string>
            </dict>
            <key>ylg_fzmajiang_btn_sanyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,229},{226,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,225}}</string>
                <key>sourceSize</key>
                <string>{226,225}</string>
            </dict>
            <key>ylg_fzmajiang_btn_shijindao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{226,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,225}}</string>
                <key>sourceSize</key>
                <string>{226,225}</string>
            </dict>
            <key>ylg_fzmajiang_btn_shuangyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{226,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,225}}</string>
                <key>sourceSize</key>
                <string>{226,225}</string>
            </dict>
            <key>ylg_fzmajiang_btn_sjd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{226,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,225}}</string>
                <key>sourceSize</key>
                <string>{226,225}</string>
            </dict>
            <key>ylg_fzmajiang_btn_th.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{226,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,225}}</string>
                <key>sourceSize</key>
                <string>{226,225}</string>
            </dict>
            <key>ylg_fzmajiang_btn_wjd.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{226,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,225}}</string>
                <key>sourceSize</key>
                <string>{226,225}</string>
            </dict>
            <key>ylg_fzmajiang_btn_youjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{226,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,225}}</string>
                <key>sourceSize</key>
                <string>{226,225}</string>
            </dict>
            <key>ylg_fzmajiang_btn_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,225}}</string>
                <key>sourceSize</key>
                <string>{226,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ylg_fzmajiang_actionmenu.png</string>
            <key>size</key>
            <string>{1013,1044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60c44654374b191682ab3691637488cc:1/1$</string>
            <key>textureFileName</key>
            <string>ylg_fzmajiang_actionmenu.png</string>
        </dict>
    </dict>
</plist>
