<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{27,29}</string>
                <key>textureRect</key>
                <string>{{22,0},{27,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{27,29}</string>
                <key>textureRect</key>
                <string>{{49,0},{27,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>message_voice_receiver_playing_1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{76,0},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>message_voice_receiver_playing_2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{0,40},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>message_voice_receiver_playing_3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{40,40},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yinjie1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,7}</string>
                <key>spriteSourceSize</key>
                <string>{25,7}</string>
                <key>textureRect</key>
                <string>{{80,40},{25,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yinjie2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,21}</string>
                <key>spriteSourceSize</key>
                <string>{31,21}</string>
                <key>textureRect</key>
                <string>{{0,80},{31,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yinjie3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{31,80},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yinjie4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{67,80},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yinjie5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,67}</string>
                <key>spriteSourceSize</key>
                <string>{46,67}</string>
                <key>textureRect</key>
                <string>{{0,132},{46,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yinjie6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,82}</string>
                <key>spriteSourceSize</key>
                <string>{51,82}</string>
                <key>textureRect</key>
                <string>{{46,132},{51,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuyin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,132}</string>
                <key>spriteSourceSize</key>
                <string>{67,132}</string>
                <key>textureRect</key>
                <string>{{0,214},{67,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yuyinAni.png</string>
            <key>size</key>
            <string>{116,346}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:751a17482274f012a862e73e7dc77f89:6ad08b8175a6622cc0d326221d752d3a:44a1ba2bfb3f4f0124d062d41bb0526c$</string>
            <key>textureFileName</key>
            <string>yuyinAni.png</string>
        </dict>
    </dict>
</plist>
