<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_hua_chun.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{100,118}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{100,118}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>mj_hua_dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,306},{100,112}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{100,112}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>mj_hua_ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,302},{96,110}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{96,110}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>mj_hua_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,196},{96,116}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{96,116}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>mj_hua_mei.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,312},{98,114}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{98,114}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>mj_hua_qiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{100,116}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,116}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>mj_hua_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{94,116}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{94,116}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>mj_hua_zhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,188},{98,112}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{98,112}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>mj_left_angang.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,118},{91,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,68}}</string>
                <key>sourceSize</key>
                <string>{91,68}</string>
            </dict>
            <key>mj_left_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,114},{61,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,100}}</string>
                <key>sourceSize</key>
                <string>{61,100}</string>
            </dict>
            <key>mj_left_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,120},{91,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,68}}</string>
                <key>sourceSize</key>
                <string>{91,68}</string>
            </dict>
            <key>mj_left_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,428},{90,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,67}}</string>
                <key>sourceSize</key>
                <string>{90,67}</string>
            </dict>
            <key>mj_my_angang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{102,143}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,143}}</string>
                <key>sourceSize</key>
                <string>{102,145}</string>
            </dict>
            <key>mj_my_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,195}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{132,195}}</string>
                <key>sourceSize</key>
                <string>{144,201}</string>
            </dict>
            <key>mj_my_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{102,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,145}}</string>
                <key>sourceSize</key>
                <string>{102,145}</string>
            </dict>
            <key>mj_my_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,432},{71,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,98}}</string>
                <key>sourceSize</key>
                <string>{71,98}</string>
            </dict>
            <key>mj_up_angang.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,116},{56,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,65}}</string>
                <key>sourceSize</key>
                <string>{56,65}</string>
            </dict>
            <key>mj_up_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,112},{57,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,82}}</string>
                <key>sourceSize</key>
                <string>{57,82}</string>
            </dict>
            <key>mj_up_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,118},{57,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,65}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>mj_up_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,451},{53,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,73}}</string>
                <key>sourceSize</key>
                <string>{53,73}</string>
            </dict>
            <key>tiaozi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{80,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{80,114}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>tiaozi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,302},{24,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,6},{24,112}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>tiaozi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{82,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{82,110}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>tiaozi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,122},{72,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{72,118}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>tiaozi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,196},{72,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{72,118}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>tiaozi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,122},{72,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{72,118}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>tiaozi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,194},{82,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{82,116}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>tiaozi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,190},{82,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{82,114}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>tiaozi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,314},{82,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{82,116}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>tongzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,388},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{86,86}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>tongzi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,451},{52,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,7},{52,110}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>tongzi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,177},{92,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{92,108}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>tongzi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{92,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{92,108}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>tongzi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,297},{92,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{92,108}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>tongzi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,120},{72,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{72,114}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>tongzi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,325},{96,120}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{96,120}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>tongzi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,325},{78,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{78,124}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>tongzi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,199},{100,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{100,124}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>wanzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,420},{84,98}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{84,98}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>wanzi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,185},{82,110}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{82,110}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>wanzi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{82,112}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{82,112}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>wanzi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,287},{82,108}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{82,108}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>wanzi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{82,114}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{82,114}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>wanzi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,194},{82,114}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{82,114}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>wanzi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,314},{82,116}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{82,116}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>wanzi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{82,108}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{82,108}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>wanzi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{82,118}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{82,118}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>zipai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,397},{86,104}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{86,104}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>zipai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,414},{88,96}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{88,96}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>zipai_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,414},{92,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{92,90}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>zipai_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,294},{80,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{80,92}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>zipai_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,432},{68,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{68,96}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>zipai_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,112},{94,98}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{94,98}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>zipai_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,212},{80,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{80,102}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_card.png</string>
            <key>size</key>
            <string>{1080,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6af3bbfdfee169e7f57c06700a2abc88:1/1$</string>
            <key>textureFileName</key>
            <string>game_card.png</string>
        </dict>
    </dict>
</plist>
