<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,447},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>chi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>chi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>gang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,447},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>gang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>gang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>peng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,306},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>peng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,306},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>ting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,165},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>ting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,165},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>ting3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>ylg_fzgame_sezi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,588},{51,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{51,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ylg_fzgame_sezi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,610},{51,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{51,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ylg_fzgame_sezi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{51,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{51,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ylg_fzgame_sezi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,588},{51,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{51,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ylg_fzgame_sezi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,588},{51,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{51,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ylg_fzgame_sezi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,536},{51,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{51,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ylg_fzgame_sezi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,483},{51,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{51,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ylg_fzgame_sezi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,588},{51,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{51,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ylg_fzgame_sezi_result_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,430},{51,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{51,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ylg_fzgame_sezi_result_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,377},{51,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{51,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ylg_fzgame_sezi_result_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,324},{51,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{51,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ylg_fzgame_sezi_result_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,271},{51,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{51,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ylg_fzgame_sezi_result_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,218},{51,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{51,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ylg_fzgame_sezi_result_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,165},{51,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{51,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ani.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3968f005e607810f6043baa76131071e$</string>
            <key>textureFileName</key>
            <string>Ani.png</string>
        </dict>
    </dict>
</plist>
